*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: indianred;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 4vh;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    height: 10vh;
    width: 60vw;
    margin: auto;
    margin-top: 10vh;
}