*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    body{
        background-color: indianred;
    }
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 4vh;
}

#tarefasContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;
    border-radius: 15px;
    height: auto;
    width: 60vw;
    margin: auto;
    margin-top: 10vh;
}


input[type="radio"] {
    transform: scale(1.5);
    margin-left: 2vw;
}
.circle {
    background-color:  darkmagenta;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:xx-large ;
    width: 3vw;
    height: 3vw;
    text-align: center;
    float: right;
    margin-right: 3vw;
    border-radius: 30px;
    color: white;
    margin-top: 60vh;

.box{
    margin: 2vh;

}